*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /* font-family: "Hi Melody", sans-serif; */
    font-family: "Philosopher", sans-serif;
    /* background-image: url("../src/assets/bgimageall.jpg"); */
}
/* .headerdiv
{
    background-image: url("../src/assets/bgheader.webp");
   
} */
/* .maindiv
{
    background-image: url("../src/assets/bgimageall2.png");
    background-repeat: no-repeat;
    background-size: cover;
} */